.visitor-code-container {
    .code-label-container,
    .code-container {
        text-align: center;
    }
    .code-label,
    .code {
        color: #FFF;
    }
    .code-label {
        font-size: 21px;
    }
    .code {
        font-size: 65px;
        line-height: 54px;
    }
}