<div class="login-page-container">
    <div class="welcome-container">
        <span class="welcome-message">WELCOME</span>
    </div>
    <div class="form-container">
        <mat-form-field>
            <input matInput type="text" placeholder="username" [(ngModel)]="username">
        </mat-form-field>
        <mat-form-field>
            <input matInput type="password" placeholder="password" [(ngModel)]="password">
        </mat-form-field>
    </div>
    <div class="button-container">
        <button class="button-login" mat-raised-button (click)="onLogin()">Login</button>
    </div>
</div>