.login-page-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    .welcome-container {
        flex: 3;
        text-align: center;
        .welcome-message {
            display: inline-block;
            padding-top: 25px;
            font-size: 53px;
            color: #FFF;
        }
    }
    .form-container {
        flex: 3;
        display: flex;
        flex-direction: column;
        align-items: center;
        .fields {
            max-width: 300px;
        }
    }
    .button-container {
        flex: 4;
        display: flex;
        flex-direction: column;
        align-items: center;
        .button-login {
            width: 150px;
            background-color: #0C75B1;
            border-color: #0C75B1;
            border-radius: 30px;
        }
    }
}