.code-overview-page-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    .queueLogoContainer {
        flex: 1;
    }
    .visitorNumberContainer {
        flex: 2;
    }
    .estimatedTimeContainer {
        flex: 2.5;
    }
    .currentCodeContainer {
        flex: 5;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}