.visitor-current-code-container {
    .visitor-current-code-label-container,
    .visitor-current-code-value-container {
        text-align: center;
    }
    .visitor-current-code-label,
    .visitor-current-code-value {
        color: #200a3d;
    }
    .visitor-current-code-label {
        font-size: 17px;
    }
    .visitor-current-code-value {
        font-size: 35px;
    }
}