.visitor-estimated-time-container {
    .estimated-time-container,
    .estimated-time-label-container {
        text-align: center;
    }
    .estimated-time,
    .estimated-time-label-container {
        color: #FFF;
    }
    .estimated-time {
        font-size: 33px;
    }
    .estimated-time-label {
        font-size: 13px;
    }
    .button-container {
        margin-top: 10px;
        flex: 4;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .visitor-new-code-button {
            color: #FFF;
            width: 150px;
            border-radius: 30px;
            &:not([disabled]) {
                background-color: #0C75B1;
                border-color: #0C75B1;
            }
        }
    }
}