.visitor-estimated-time-container {
    .estimated-time-container,
    .estimated-time-label-container {
        text-align: center;
    }
    .estimated-time,
    .estimated-time-label-container {
        color: #FFF;
    }
    .estimated-time {
        font-size: 33px;
    }
    .estimated-time-label {
        font-size: 13px;
    }
}